@import url(normalize.css);
@import url(utility.css);
/* --------------------------------------------------------------------------------------- *\ Vars                                                                       
/* --------------------------------------------------------------------------------------- */
body { background: url("http://subtlepatterns.com/patterns/green-fibers.png"); }

* { box-sizing: border-box; }

.container { width: 100%; margin: auto; }

.control-bar { background: rgba(15, 36, 16, 0.3); padding: 40px 20px; }
.control-bar a, .control-bar select { background: rgba(115, 140, 115, 0.6); padding: 18px 30px; border-radius: 10px; display: inline-block; color: rgba(199, 209, 199, 0.8); text-decoration: none; float: left; margin-right: 10px; }
.control-bar select { position: relative; top: 14px; margin-right: 20px; }

.hand a, .hand .control-bar select, .control-bar .hand select { background: rgba(115, 140, 115, 0.6); padding: 18px 30px; border-radius: 10px; display: inline-block; color: rgba(199, 209, 199, 0.8); text-decoration: none; float: left; float: right; position: relative; top: 38px; margin-right: 15px; }

.deck { position: relative; height: 200px; }

.deck.stacked .card { position: absolute; top: 0; left: 0; }

.card { height: 134px; width: 97px; margin: 5px; float: left; padding: 20px; border-radius: 7px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7); text-indent: -999px; background: #2c7887; border: solid 3px #163a41; font-size: 1.4em; }

.card + .card { -webkit-transform: rotate(5deg); position: relative; left: -30px; }

.card[data-faceUp*="true"], .deck:hover .card { background: #e6ddb7; text-indent: 0; border: none; }

.C, .S { color: black; }

.H, .D { color: red; }

.hand { background: rgba(15, 36, 16, 0.3); padding: 30px 70px; margin: 20px 0; height: 200px; }

.dealer { border-bottom: solid 7px rgba(8, 18, 8, 0.3); }
