body {
  width:800px;
  margin:auto;
}

* { box-sizing:border-box; }

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
  line-height:1em;
}

.header {
  float:left;
}

.playing-surface {
  width:600px;
  float:right;
  padding:20px;
}

.sidebar {
  width:200px;
  background:#ddd;
  float:left;
}

.sidebar > div {
  padding:20px 15px;
  border-bottom:solid 1px #ccc;
}

.control-bar {
  width:600px;
  background:#f1f1f1;
  padding:40px 20px;
}

.control-bar a {
  margin-right:20px;
}

.deck {
  position:relative;
  height:200px;
}

.deck.stacked .card {
  position:absolute;
  top:0;
  left:0;
}

.card {
    height:100px;
    width:75px;
    margin:5px;
    float:left;
    padding:20px;
    border-radius:4px;
    box-shadow:0 1px 3px rgba(0,0,0,0.8);
    text-indent:-999px;
    background:hsl(190, 51%, 35%);
    border: solid 3px hsl(190, 71%, 21%);
}


.card[data-faceUp*="true"], 
.deck:hover .card {
    background:#F8F2DA;
    text-indent: 0;
    border:none;
}

.C,.S { color:black; }

.H,.D { color:red; }


.hand,
.deck {
  clear:both;
}

.hand {
  background:gray;
}

